*.h5 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
data/**/*.jpg filter=lfs diff=lfs merge=lfs -text
data/Training/**/*.jpg filter=lfs diff=lfs merge=lfs -text
data/Testing/**/*.jpg filter=lfs diff=lfs merge=lfs -text
